<div class="module thumbnail" style="background-image: url(«=(h (asset-url (module-image $module)))»);" data-module="«=(h (module.id $module))»">
  <div class="caption">
    <h1><a href="«=(h (module-uri $module))»">«=(h (module.discipline $module))» <span class="level">«=(h (module.level $module))»</span></a></h1>
    <p class="owner"><a href="«=(h (user-uri (module.owner $module)))»">«=(h (user.name (module.owner $module)))»</a></p>
    « (when (module.version $module) »
    <p class="version">«=(h (module.version $module))»</p>
    « ) »
  </div>
  <div class="btn-toolbar">
    « (when (can :edit $module) »
    <a class="btn btn-default" href="«=(h (module-uri $module :edit))»" title="Éditer">
      <i class="icon-edit"></i>
    </a>
    « ) »
    <button type="button" class="toggle-library btn btn-default"
	    title="«=(h (if (module-in-library-p $module) "Ajouter à" "Enlever de"))» ma bibliothèque">
      <i class="icon-star«=(h (unless (module-in-library-p $module) "-empty"))»"></i>
    </button>
  </div>
</div>
