<div class="row">
  <div class="col-sm-5">
    <div class="module thumbnail" style="background-image: url(«=(h (asset-url (module-image $module)))»);">
      <div class="caption">
	<h1><a href="«=(h (module-uri $module))»">«=(h (module.discipline $module))» <span class="badge">«=(h (module.level $module))»</span></a></h1>
	<p class="owner"><a href="«=(h (user-uri (module.owner $module)))»">«=(h (user.name (module.owner $module)))»</a></p>
	« (when (module.version $module) »
	<p class="version">«=(h (module.version $module))»</p>
	« ) »
      </div>
    </div>
    « (when (can :edit $module) »
    <div class="btn-toolbar">
      <a href="«=(h (module-uri $module :action :edit))»" class="edit btn btn-default">
	<i class="icon-edit"></i> Éditer
      </a>
    </div>
    « ) »
  </div>
  <div class="col-sm-7">
    <div class="description">
      « (print-markdown (module.description $module)) »
    </div>
  </div>
</div>

<h3>Domaines</h3>
<div id="module-graph-view" data-id="«=(h (module.id $module))»">
  <div class="paper"></div>
</div>
