
<h1><a href="«=(h (classroom-uri $classroom))»">«=(h (classroom.name $classroom))» <span class="level">«=(h (classroom.level $classroom))»</span></a></h1>

<form id="edit-classroom" class="form-inline" role="form" action="«=(h (classroom-uri $classroom))»" method="POST">
  <div class="form-group">
    <label for="name" class="sr-only">Nom</label>
    <input class="form-control" type="text" name="name" value="«=(h (classroom.name $classroom))»" placeholder="Nom" required/>
  </div>
  <div class="form-group">
    <label for="level" class="sr-only">Niveau</label>
    <input class="form-control" type="text" name="level" value="«=(h (classroom.level $classroom))»" placeholder="Niveau" required/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="PUT"><i class="icon-ok"></i> Sauvegarder</button>
</form>

<h2>Élèves</h2>
« (dolist (student (classroom-students $classroom)) »
<form class="student form-inline" role="form" action="«=(h (classroom-uri $classroom :action "student"))»" method="POST">«=(h (student.name student))»</form>
« ) »

<h4>Ajouter un élève</h4>
<form id="add-student" class="form-inline" role="form" action="«=(h (student-uri))»" method="POST">
  <input type="hidden" name="classroom" value="«=(h (classroom.id $classroom))»"/>
  <input type="hidden" name="redirect" value="«=(h (classroom-uri $classroom :action "edit"))»"/>
  <div class="form-group">
    <label for="name" class="sr-only">Nom</label>
    <input class="form-control" type="text" name="name" placeholder="Nom" required/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="POST" title="Ajouter"><i class="icon-plus"></i> Ajouter</button>
</form>

<h2>Modules</h2>
« (dolist (m (classroom.modules $classroom)) »
<div class="module">
  «=(h (module.name m))»
  <span class="level">«=(h (module.level m))»</span>
</div>
« ) »

<a href="/module/?level=«=(h (classroom.level $classroom))»" class="btn btn-primary"><i class="icon-plus"></i> Ajouter des modules</a>

<h2>Enseignants</h2>
« (dolist (user (classroom.teachers $classroom)) »
«   (template-let (user) »
«     (render-view :user :_thumbnail '.html) »
«   ) »
« ) »
