
<h1><a href="«=(h (classroom-uri $classroom))»">«=(h (classroom.name $classroom))» <span class="level">«=(h (classroom.level $classroom))»</span></a></h1>

<form id="edit-classroom" class="form-inline" role="form" action="«=(h (classroom-uri $classroom))»" method="POST" data-classroom="«=(h (classroom.id $classroom))»">
  <div class="form-group">
    <label for="name" class="sr-only">Nom</label>
    <input class="form-control" type="text" name="name" value="«=(h (classroom.name $classroom))»" placeholder="Nom" required/>
  </div>
  <div class="form-group">
    <label for="level" class="sr-only">Niveau</label>
    <input class="form-control" type="text" name="level" value="«=(h (classroom.level $classroom))»" placeholder="Niveau" required/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="PUT"><i class="icon-ok"></i> Sauvegarder</button>
</form>

<h2>Élèves</h2>
« (dolist (student (classroom-students $classroom)) »
<form class="student form-inline" role="form" action="«=(h (classroom-uri $classroom :action "student"))»" method="POST">«=(h (student.name student))»</form>
« ) »

<h4>Ajouter un élève</h4>
<form id="add-student" class="form-inline" role="form" action="«=(h (student-uri))»" method="POST">
  <input type="hidden" name="classroom" value="«=(h (classroom.id $classroom))»"/>
  <input type="hidden" name="redirect" value="«=(h (classroom-uri $classroom :action "edit"))»"/>
  <div class="form-group">
    <label for="name" class="sr-only">Nom</label>
    <input class="form-control" type="text" name="name" placeholder="Nom" required/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="POST" title="Ajouter"><i class="icon-plus"></i> Ajouter</button>
</form>

<h2>Modules</h2>
<div class="classroom-modules-list">
</div>

<div>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#classroom-modules-selector">
    <i class="icon-plus"></i> Selectionner des modules
  </button>
  <div class="modal fade modules-selector" id="classroom-modules-selector" tabindex="-1" role="dialog" aria-labelledby="add-module-list-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="add-module-list-label">Selectionner des modules</h4>
	</div>
	<div class="modal-body">
	  <ul class="modules-list">
	  </ul>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	</div>
      </div>
    </div>
  </div>
</div>

<h2>Enseignants</h2>
« (dolist (user (classroom.teachers $classroom)) »
«   (template-let (user) »
«     (render-view :user :_thumbnail '.html) »
«   ) »
« ) »

<h2>Supprimer</h2>
<div class="row">
  <div class="col-sm-5">
    <form role="form" class="form" action="«=(h (classroom-uri $module))»" method="POST">
      <div class="form-group">
	<p>Attention, toute suppression est irréversible.</p>
      </div>
      <div class="checkbox">
	<label>
	  <input class="form-control" type="checkbox" name="delete" value="0" required/> Confirmer
	</label>
      </div>
      <button type="submit" class="btn btn-danger" name="_method" value="DELETE"><i class="icon-trash"></i> Supprimer</button>
    </form>
  </div>
</div>
