
<div class="row">
  <div class="col-sm-12">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-9 col-lg-9">
    <h1 data-classroom="«=(h (classroom.id $classroom))»"><a href="«=(h (classroom-uri $classroom))»">«=(h (classroom.name $classroom))» <span class="level">«=(h (classroom.level $classroom))»</span></a></h1>
    <div class="main"></div>
    <div class="main-sub"></div>
  </div>
  <div class="left-column col-md-12 col-lg-3">
    <div class="row">
      <div class="col-sm-4 col-lg-12">
	<div class="students panel panel-default">
	  <div class="panel-heading">
	    <h4>Élèves</h4>
	  </div>
	  <div class="panel-body list-group">
	    « (dolist (student (classroom.students $classroom)) »
	    <div class="list-group-item student" data-student="«=(h (student.id student))»">
	      «=(h (student.name student))»
	    </div>
	    « ) »
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-lg-12">
	<div class="modules panel panel-default">
	  <div class="panel-heading">
	    <h4>Modules</h4>
	  </div>
	  <div class="panel-body list-group">
	    « (dolist (m (classroom.modules $classroom)) »
	    <div class="list-group-item module" data-module="«=(h (module.id m))»">
	      «=(h (module.discipline m))»
	      <span class="level">«=(h (module.level m))»</span>
	    </div>
	    « ) »
	    <div class="list-group-item domain active" data-domain="" style="display:none"></div>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 col-lg-12">
	<div class="teachers panel panel-default">
	  <div class="panel-heading">
	    <h4>Enseignants</h4>
	  </div>
	  <div class="panel-body">
	    « (dolist (user (classroom.teachers $classroom)) »
	    «   (template-let (user) »
	    «     (render-view :user :_thumbnail '.html) »
	    «   ) »
	    « ) »
	  </div>
	</div>
      </div>
      <div class="col-sm-12">
	<div class="actions">
	  « (when (can :edit $classroom) »
	  <a href="«=(h (classroom-uri $classroom :action "edit"))»" class="btn btn-default" title="Éditer la classe"><i class="fa fa-pencil"></i></a>
	  « ) »
	</div>
      </div>
    </div>
  </div>
</div>
