
<div class="row">
  <div class="col-sm-12 col-md-9 col-lg-7" style="whitespace:none">
    « (render-view :module :_thumbnail '.html)
      (render-view :domain :_thumbnail '.html) »
  </div>
  <div class="col-sm-12 col-md-3 col-lg-5">
    <h1><a href="«=(h (competence-uri $competence))»">«=(h (competence.name $competence))»</a></h1>
    <div class="description">
      « (print-markdown (competence.description $competence)) »
    </div>
  </div>
</div>

« (when $resources »
<h3>Resources</h3>
«   (dolist (resource $resources) »
«     (template-let (resource) »
«       (render-view :resource :show '.html) »
«     ) »
«   ) »
« ) »

« (when (can :create 'resources) »
<div id="contribute-resource" class="panel-default">
  <div class="panel-body">
    <button type="button" class="btn btn-primary pull-right" data-toggle="collapse" data-target="#contribute-resource .panel-body .infos, #contribute-resource .panel-footer">
      <i class="fa fa-plus"></i> &nbsp; Contribuer une resource
    </button>
    <div class="infos collapse">
      <a href="«=(h (user-uri (session-user)))»" class="mentats-user">
        <img class="avatar" src="«=(h (gravatar:image-url (user.email (session-user)) :size 32 :default :mm))»" alt=""/>
        <b>«=(h (user.name (session-user)))»</b>
      </a>
      <span class="small date">
        «=(h (rw-ut:write-time-string (get-universal-time) "DD/MM/YYYY"))»
      </span>
    </div>
  </div>
  <form role="form" class="form" action="«=(h (resource-uri))»" method="POST">
    <input type="hidden" name="competence" value="«=(h (competence.id $competence))»"/>
    <div class="panel-footer shallow collapse">
      <textarea name="text" class="form-control markdown-editor" rows="10"></textarea>
      <button type="submit" class="btn btn-primary form-control" name="_method" value="POST"><i class="fa fa-check"></i>&nbsp; Publier</button>
    </div>
  </form>
</div>
« ) »
