<h1>«=(h (competence.name $competence))»</h1>

<h3>Resources</h3>
« (dolist (resource $resources) »
«   (template-let (resource) »
«     (render-view :resource :show '.html) »
«   ) »
« ) »

<h3>Contribuer une resource</h3>
<form role="form" class="form" action="«=(h (resource-uri))»" method="POST">
  <input type="hidden" name="competence" value="«=(h (competence.id $competence))»"/>
  <div class="row">
    <div class="col-sm-12">
      <textarea name="text" class="form-control"></textarea>
    </div>
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary form-control" name="_method" value="POST"><i class="icon-ok"></i> Publier</button>
    </div>
  </div>
</form>
