<div class="collapse navbar-collapse" id="navbar-main-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/competence">Compétences</a></li>
    <li><a href="/blog">Blog</a></li>
    <li>
      « (cond (*user* »
      <a href="«=(h (uri-for `(/user/profile ,*user*)))»">«=(h (user-login *user*))»</a>
      « ) (t »
      <form method="POST" action="/session/login" class="navbar-form navbar-left" role="login">
	<input type="hidden" name="hmac" value="«=(h $login-hmac)»"/>
	<input type="hidden" name="date" value="«=(h $login-date)»"/>
	<input type="hidden" name="nonce" value="«=(h $login-nonce)»"/>
	<div class="form-group">
	  <input type="text" name="l" class="form-control input-sm" placeholder="login"/>
	</div>
	<div class="form-group">
	  <input type="password" name="p" class="form-control input-sm"/>
	</div>
	<button type="submit" class="btn btn-default input-sm"><i class="icon-ok"></i></button>
      </form>
      « )) »
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  </ul>
</div>
