<div class="collapse navbar-collapse" id="navbar-main-collapse">
  <ul class="nav navbar-nav">
  </ul>
  <ul class="nav navbar-nav navbar-right">
    « (cond ((session-user) »
    <li><a href="«=(h (user-uri (session-user)))»">
      <img class="avatar" src="«=(h (gravatar:image-url (user.email (session-user)) :size 32 :default :mm))»" alt=""/>
      «=(h (user.name (session-user)))»
    </a></li>
    <li><a href="«=(h (uri-for `(/account/logout)))»">Déconnexion</a></li>
    « ) (t »
    <li>
      <form method="POST" action="«=(h (uri-for '(/account/login)))»" class="navbar-form navbar-left" role="login">
	<input type="hidden" name="redirect-to" value="«=(h *uri*)»"/>
	<div class="form-group">
	  <input type="text" name="l" class="form-control input-sm" placeholder="Adresse e-mail"/>
	</div>
	<div class="form-group">
	  <input type="password" name="p" class="form-control input-sm" placeholder="Mot de passe"/>
	</div>
	<button type="submit" class="btn btn-default input-sm"><i class="icon-ok"></i></button>
	<br/>
	<a class="navbar-link small" href="«=(h (uri-for '(/account/register)))»">Créer un compte</a> &nbsp;
	<a class="navbar-link small" href="«=(h (uri-for '(/account/reset-password)))»">Mot de passe oublié ?</a>
      </form>
    </li>
    « )) »
  </ul>
</div>
