<!doctype html>
<!--[if lt IE 7 ]>
<html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="fr" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>«=(h $title)»</title>
    « (dolist (meta $meta)
        (destructuring-bind (name content) meta »
    <meta name="«=(h name)»" content="«=(h content)»"/>
    « )) »
    « (when $favicon »
    <link rel="shortcut icon" href="«=(h $favicon)»"/>
    « ) »
    « (print-asset-tag "app.css") »
  </head>
  <body class="«=(h $controller)» «=(h $controller)»--«=(h $action)»" data-session-user="«=(h (user.id (session-user)))»">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Mentats</a>
      </div>

      « (print-template #.(find-template '.html "_nav" "_layouts")) »
    </nav>

    <div id="messages" class="container">
      « (dolist (alert $alerts) »
      «   (destructuring-bind (level message) alert »
      <div class="alert alert-«=(h level)»">
	«=(h message)»
      </div>
      « )) »
    </div>

    <div class="container">
      « (when $template (print-template $template)) »
    </div>

    <div id="footer" class="container">
      <div class="row">
	<div class="col-sm-6">
	  Copyright 2014 Mentats
	  <a href="mailto:mentats@lowh.net">&lt;mentats@lowh.net&gt;</a>
	</div>
      </div>
    </div>

    « (print-asset-tag "app.js") »
  </body>
</html>
