<div class="mentats-resource panel panel-default" data-id="«=(h (resource.id $resource))»" data-owner="«=(h (user.id (resource.owner $resource)))»" data-competence="«=(h (competence.id (resource.competence $resource)))»" data-date="«=(h (resource.date $resource))»">
  <div class="panel-heading">
    « (template-let ((user (resource.owner $resource)))
        (render-view :user :_thumbnail '.html)) »
    <span class="small date">
      «=(h (rw-ut:write-time-string (resource.date $resource) "DD/MM/YYYY"))»
    </span>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#" class="edit"><i class="icon-edit"></i> Éditer</a></li>
	<li><a href="#" class="trash"><i class="icon-trash"></i> Supprimer</a></li>
      </ul>
    </div>
  </div>
  <div class="panel-body show">
    « (print-markdown (resource.text $resource)) »
  </div>
  <div class="panel-footer edit">
    <button class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <b>Éditer</b>
    <form role="form" class="form" action="«=(h (resource-uri $resource))»" method="POST">
      <textarea name="text" class="form-control markdown-editor" rows="10">«=(h (resource.text $resource))»</textarea>
      <button type="submit" class="btn btn-primary form-control" name="_method" value="PUT"><i class="icon-ok"></i></button>
    </form>
  </div>
</div>
