<h1>«=(h (user.name $user))»</h1>

<h3>Classes</h3>
<div>
« (dolist (classroom $classrooms) »
«   (template-let (classroom) »
«     (render-view :classroom :_thumbnail '.html) »
«   ) »
« ) »
</div>

« (when (and (can :create 'classrooms)
             (eq $user (session-user))) »
<h4>Créer une classe</h4>
<form id="create-classroom" class="form-inline" role="form" action="«=(h (uri-for '(/classroom)))»" method="POST">
  <div class="form-group">
    <label for="name" class="sr-only">Nom</label>
    <input class="form-control" type="text" name="name" placeholder="Nom" required/>
  </div>
  <div class="form-group">
    <label for="level" class="sr-only">Niveau</label>
    <input class="form-control" type="text" name="level" placeholder="Niveau" required/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="POST"><i class="icon-create"></i> Créer</button>
</form>
« ) »

<h3>Modules</h3>
<div>
« (dolist (module $modules) »
«   (template-let (module) »
«     (render-view :module :_thumbnail '.html) »
«   ) »
« ) »
</div>

« (when (and (can :create 'modules)
             (eq $user (session-user))) »
<h4>Créer un module</h4>
<form id="create-module" class="form-inline" role="form" action="«=(h (uri-for '(/module)))»" method="POST">
  <div class="form-group">
    <label for="discipline" class="sr-only">Discipline</label>
    <input class="form-control" type="text" name="discipline" placeholder="Discipline" required/>
  </div>
  <div class="form-group">
    <label for="level" class="sr-only">Niveau</label>
    <input class="form-control" type="text" name="level" placeholder="Niveau" required/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="POST"><i class="icon-create"></i> Créer</button>
</form>
« ) »

<br/>
<br/>
