<h1>«=(h (user.name $user))»</h1>

<h3>Modules</h3>
<div class="row">
« (dolist (module $modules) »
«   (template-let (module) »
«     (render-view :module :thumbnail '.html) »
«   ) »
« ) »
</div>

« (when (eq (session-user) $user) »
<h3>Créer un module</h3>
<form id="create-module" class="form-inline" role="form" action="«=(h (uri-for '(/module)))»" method="POST">
  <div class="form-group">
    <label for="discipline" class="sr-only">Discipline</label>
    <input class="form-control" type="text" name="discipline" value="«=(h $discipline)»" placeholder="Discipline"/>
  </div>
  <div class="form-group">
    <label for="level" class="sr-only">Niveau</label>
    <input class="form-control" type="text" name="level" value="«=(h $level)»" placeholder="Niveau"/>
  </div>
  <button class="btn btn-default" type="submit" name="_method" value="POST"><i class="icon-create"></i> Créer</button>
</form>
« ) »
