
<div class="row">
  
<h1>Réinitialisation du mot de passe</h1>
<form id="reset-password" role="form" action="«=(h (uri-for `(/account/reset-password ,$token)))»" method="POST">
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <div>
      <input type="password" class="form-control input-lg" name="password" required/>
      <span class="validation"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="password-confirmation">Confirmation</label>
    <div>
      <input type="password" class="form-control input-lg" name="password-confirmation" data-confirmation-for="password" required/>
      <span class="validation"></span>
    </div>
  </div>
  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-primary form-control input-lg" name="_method" value="POST"><i class="fa fa-check"></i> Envoyer</button>
    </div>
  </div>
</form>

</div>
