
<h1>Reset password</h1>
<form id="resetpassword" role="form" action="«=(h (uri-for '(/account/reset-password)))»" method="POST">
  <div class="form-group">
    <label for="email">E-mail</label>
    <div>
      <input type="email" class="form-control input-lg" name="email" value="«=(h $email)»" required/>
      <span class="validation"></span>
    </div>
  </div>
  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-primary form-control input-lg" name="_method" value="POST"><i class="fa fa-check"></i> Envoyer</button>
    </div>
  </div>
</form>
