@import "bootstrap";
@import "font-awesome";
@import "font-awesome/ie7";
@import "joint";
/*@import "mentats-super-mode";*/
@import "blog";
@import "embed";
@import "cousine";
@import "frutiger-next";
@import "markdown";

@import "classroom";
@import "graph";
@import "tutorial";
@import "register";
@import "module";
@import "resource";
@import "user";

a:hover, a:focus {
	text-decoration: none;
}
input.form-control {
	color: black;
}
textarea.markdown-editor {
	resize: vertical;
	font-family: @font-family-monospace;
}

.navbar-default {
	.nav > li > a > img.avatar {
		margin: -10px 10px;
	}
}
.absolute-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.level {
	font-size: inherit;
	font-weight: inherit;
	border-radius: 8px 8px 8px 8px;
	padding: 2px 5px;
	background: transparent;
	border: solid 1px #333;
	white-space: nowrap;
}
a .level {
	border-color: @link-color;
}
a:focus, a:hover {
	.level {
		border-color: @link-hover-color;
	}
}
.dropdown-menu {
	a, a:focus, a:hover {
		.level {
			border-color: @text-color;
		}
	}
}

#footer {
	margin-top: 2em;
	border-top: solid 1px @gray-lighter;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 11px;
	* {
		color: @gray-light;
	}
}

.panel-body.list-group {
	padding: 0;
	& > .list-group-item {
		padding: 5px;
	}
}
