
body.classroom {
	.left-column {
		.panel {
			.panel-heading, .panel-body {
				padding: @padding-small-vertical;
			}
			.panel-body.list-group {
				padding: 0;
			}
			h4 {
				color: @gray;
				font-size: 100%;
				font-weight: bold;
				margin: 0;
			}
		}
		.actions {
			text-align: right;
		}
	}
	h1 {
		margin-bottom: 0.8em;
	}
}
.list-group-item.module {
	cursor: pointer;
}

body.classroom--edit {
	.module {
		display: inline-block;
		margin: 0 16px 12px 0;
	}
}

.mentats-classroom-thumb {
	.btn;
	.btn-primary;
	display: inline-block;
	margin: 5px 5px 5px 0;
	.level, &:focus .level, &:hover .level {
		border-color: #fff;
	}
}
