
body.classroom {
	h1 {
		display: inline-block;
		margin-right: 1em;
		vertical-align: middle;
	}
	.edit.btn {
		vertical-align: middle;
	}
	.left-column {
		& > div {
			margin: 0 @padding-base-vertical @padding-base-vertical 0;
		}
		.panel {
			.panel-heading, .panel-body {
				padding: @padding-small-vertical;
			}
			h4 {
				color: @gray;
				font-size: 100%;
				font-weight: bold;
				margin: 0;
			}
		}
		.actions {
			text-align: right;
		}
	}
}
