.module.thumbnail {
	display: inline-block;
	margin: 10px;
	width: 320px;
	height: 365px;
	overflow: hidden;
	border: solid 1px #666;
	box-shadow: 1px 2px 5px -2px #000;
	background: url(/assets/module/default-cover.png) #fffdf0 0 0;

	&, & a {
		text-decoration: none;
	}
	.caption {
		text-align: center;
		opacity: 0.6;
		* {
			color: #000;
		}
		h1,h2,h3,h4,h5,h6,p {
			margin: 20px;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: 24px;
		}
		.badge {
			font-size: inherit;
			font-weight: inherit;
			border-radius: 8px 8px 8px 8px;
			padding: 2px 5px;
			background: transparent;
			border: solid 1px #000;
		}
		.owner {
			font-weight: bold;
		}
	}
}
a.module.thumbnail:hover {
	background-color: #f2f0f0;
}
div.module.thumbnail {
	margin-left: 0;
	margin-top: 0;
}
