@module-radius: 3px;
@domain-radius: 15px;

.module.thumbnail, .domain.thumbnail {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	height: 365px;
	border: solid 1px #666;
	box-shadow: 1px 2px 5px -2px #000;
	position: relative;
	&, & a {
		text-decoration: none;
	}
	.caption {
		* {
			color: #000;
		}
	}
	.btn-toolbar {
		position: absolute;
		bottom: 5px;
		right: 5px;
		.btn {
			font-size: 18px;
			padding: 4px 10px;
			margin: 0;
		}
		.icon-star, .icon-star-empty {
			font-size: 22px;
			position: relative;
			top: 1px;
		}
		.icon-star {
			color: #fb0;
		}
		.icon-star-empty {
			color: #fd4;
		}
	}
}
.module.thumbnail {
	border-radius: @module-radius;
	background: url(/assets/module/default-cover.png) #fffdf0 0 0;
	.caption {
		opacity: 0.6;
		text-align: center;
		h1,h2,h3,h4,h5,h6,p {
			margin: 20px;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: 24px;
		}
		.level {
			border-color: #333;
		}
		.owner {
			font-weight: bold;
		}
	}
}
.domain.thumbnail {
	border-radius: @domain-radius;
	.caption {
		h1,h2,h3,h4,h5,h6,p {
			margin: 5px;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: 20px;
		}
	}
}
body.domain, body.competence {
	.module.thumbnail {
		border-radius: @module-radius 0 0 @module-radius;
		border-right: solid 1px #aaa;
	}
	.domain.thumbnail {
		border-radius: 0 @domain-radius @domain-radius 0;
		border-left: 0;
	}
}
a.module.thumbnail:hover {
	background-color: #f2f0f0;
}
div.module.thumbnail {
	margin-left: 0;
	margin-top: 0;
}
body.competence {
	h1 {
		margin: 0 0 0.5em;
		font-size: 30px;
	}
}

.modules-selector {
	.modal-body {
		padding: 0;
	}
	.list-group-item {
		border-left: 0;
		border-right: 0;
		&:first-child {
			border-top: 0;
			.border-top-radius(0);
		}
		&:last-child {
			border-bottom: 0;
			.border-bottom-radius(0);
		}
	}
	.module.thumbnail {
		float: left;
		margin-bottom: 0;
		.btn-toolbar {
			display: none;
		}
	}
}
